<nz-layout>
  <!-- HEADER SUS -->
  <nz-header>
    <div class="logo"><nz-icon nzType="home" nzTheme="outline" /></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item [routerLink]="['/']">Home</li>
      <li nz-submenu nzTitle="Categories Menu">
        <ul>
          <li *ngIf="this.isAdmin" nz-menu-item [routerLink]="['/categories']">
            Categories
          </li>
          <li
            *ngIf="this.isAdmin"
            nz-menu-item
            [routerLink]="['/categories/create']"
          >
            New Category
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Products Menu">
        <ul>
          <li nz-menu-item [routerLink]="['/products']">Products</li>
          <li
            *ngIf="this.isAdmin"
            nz-menu-item
            [routerLink]="['/products/create']"
          >
            New Product
          </li>
        </ul>
      </li>

      <li *ngIf="!this.isLoggedIn" nz-menu-item [routerLink]="['/login']">
        Login
      </li>

      <li *ngIf="!this.isLoggedIn" nz-menu-item [routerLink]="['/register']">
        Register
      </li>
      <li *ngIf="this.isLoggedIn" nz-menu-item [routerLink]="['/profile']">
        Profile
      </li>
      <li *ngIf="this.isLoggedIn" nz-menu-item [routerLink]="['/cart']">
        cart
      </li>
      <li *ngIf="this.isLoggedIn" nz-menu-item (click)="logout()">Logout</li>
    </ul>
  </nz-header>

  <nz-layout>
    <!-- CONȚINUT CENTRAL -->
    <nz-content style="margin: 24px 16px 0">
      <div style="padding: 24px; background: #fff; min-height: 360px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
